@model AspNetMvc.Web.Models.Login.LoginModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using(Html.BeginForm("login", "account")) {
    <div class="row">
        <div class="col">
            Username
        </div>
        <div class="col">
            @Html.TextBoxFor(m => m.UserName)
        </div>
    </div>
    <div class="row">
        <div class="col">
            Password
        </div>
        <div class="col">
            @Html.TextBoxFor(m => m.Password)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button>Send</button>
        </div>
    </div>
}